/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/02/2016, 11:30:10
    Author     : user
*/

div.pager {
    text-align: right;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #fff;
    color: #3399cc;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #3399cc;
    color: #fff;
}

.label-padding{
    padding-left: 15px;
    
}

.table-icon{
    cursor: pointer;
}

.remove{
    color: red;
}

.reative{
    color: green;
    
}
